/*!
 * Start Bootstrap - Resume v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */
body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #63696e;
  background: #ddd; }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #30363b; }

h1 {
  font-size: 6rem;
  line-height: 5.5rem; }

h2 {
  font-size: 3.5rem; }

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem; }
  
/* Adds effects to Font Awesome icons */

.fa{
  color: #41484c;
  font-size:30px;
  margin:7.5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: color;
  padding-top: 1rem;
}
.fa-linkedin:hover{
  color:#0077b5;
}
.fa-gitlab:hover{
  color:#fc6d26;
}
.fa-file-text:hover{
  color:#fff;
}

.list-icons {
  font-size: 3rem; }
  .list-icons .list-inline-item i:hover {
    color: #3589f7; }

#sideNav .navbar-nav .nav-item .nav-link {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: color;
  font-weight: 600;
  text-transform: uppercase; }

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh; }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

section.home-section {
  background-color: #ecf1f1;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 768px) {
  section.home-section {
    min-height: 100vh; }}

@media (min-width: 992px) {
  section.home-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }

section.about-section {
  background-color: #f5fafa;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 768px) {
  section.about-section {
    min-height: 100vh; }}

@media (min-width: 992px) {
  section.about-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }  

section.work-section {
  background-color: #e8edec;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

@media (min-width: 768px) {
  section.work-section {
    min-height: 100vh; }}

@media (min-width: 992px) {
  section.work-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }  
    
.bg-primary {
  background-color: #222729 !important; }

.text-primary {
  color: #3589f7 !important; }

